.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60rem;

  &__item {
    &--video {
      video {
        @include coverObject;
      }
    }
  }
  &__img {
    @include coverObject;
    object-fit: cover;
  }
}

@include respond(phone) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 60rem;
    grid-gap: 0;
    justify-content: center;
    &__img {

    }
    &__item {

    }
  }
}
