.gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 20rem);

  &__item {
    &:nth-child(1) {
      grid-column: 1/3;
    }
    &:nth-child(6) {
      grid-column: 2/-1;
    }
    &:nth-child(4) {
      grid-row: 2/4;
    }
    &--video {
      grid-row: 2/4;
      grid-column: 2/3 !important;

      video {
          @include coverObject;
      }
    }
  }
  &__img {
    @include coverObject;
  }
}

@include respond(tab-port) {
  .gallery {
    &__img {
      object-position: left;
    }
    &__item {
      &:nth-child(1) {
        grid-column: 1/3;
        img {
          object-position: bottom;
        }
      }
      &:nth-child(6) {
        grid-column: 2/-1;
      }
      &:nth-child(4) {
        grid-row: 2/4;
      }
      &--video {
        grid-row: 2/4;
        grid-column: 2/3 !important;

        video {
            @include coverObject;
        }
      }
    }
  }
}
