.testimonial {
  display: grid;
  grid-auto-flow: column;
  font-size: 1.4rem;
  grid-gap: 5rem;
  align-items: center;

  margin-right: 4rem;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
  &:nth-child(even) {
    .testimonial__photo {
      grid-column: 2/3;
    }
  }

  &__photo {
    width: 20rem;
    height: 20rem;
  }
  &__img {
    @include coverObject;
    object-position: top;
    border-radius: 50%;
  }
  &__text {
    margin-bottom: 1rem;
  }
  &__author {
    color: $color-primary;
  }

  @include respond(tab-port) {
    &__photo {
      width: 12rem;
      height: 12rem;
    }
    &__text {
      font-size: 1.4rem;
    }
  }

}
