.movingText {
  animation-name: movingText;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.moving-text {
  overflow: hidden;
}
@keyframes movingText{
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
