body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  box-sizing: border-box;
}

.heading__primary {
  color: $color-primary;
  text-transform: capitalize;
  margin-bottom: 6rem;
  white-space: nowrap;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 600;
  }
  &--sub {
    display: block;
    font-size: 4rem;
    font-size: 700;
    letter-spacing: .5rem;
    text-transform: capitalize;
    font-weight: 300;
  }
}

.heading__secondary {
  color: $color-primary;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .5rem;
  margin-bottom: 2rem;
}

.heading__tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@include respond(tab-port) {
  .heading__primary {
    &--main {
      font-size: 5rem;
    }
    &--sub {
      font-size: 3.5rem;
      font-weight: 400;
      letter-spacing: .5rem;
    }
  }
  .heading__secondary {
    font-size: 3rem;
  }
}
@include respond(phone) {
  .heading__primary {
    &--main {
      letter-spacing: 1rem;
      font-size: 3.5rem;
    }
    &--sub {
      font-size: 2rem;
      letter-spacing: .5rem;
    }
  }
  .heading__secondary {
    font-size: 2rem;
  }
}
