body {
  font-family: "amaranthregular", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;


  box-sizing: border-box;
}

.heading__primary {
  color: $color-primary;
  text-transform: capitalize;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 600;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 48px;
    font-size: 700;
    letter-spacing: .5rem;
    text-transform: capitalize;
    font-weight: 300;

    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading__secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;

  /*applying the linear gradient on text*/
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text; /*background get clipped exactly where the text is*/
  color: transparent;
  transition: all .2s;
  letter-spacing: .2rem;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  };
}

.heading__tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
