.banner {
  height: 50vh;
  margin-top: -12vh;
  position: relative;


  &__photo {
    width: 100%;
    height: 100%
  }
  &__img {
    @include coverObject;
    object-position: center;
  }
  &__headings {
    @include absCenter;
    top: 70%;
    text-align: center;
    .heading__primary {
      color: $color-white;
      &--main {
        margin-bottom: 1rem;
      }
      &--sub {
        @include respond(tab-port) {
          white-space: normal;
        }
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(transparent, .8), rgba(transparent, .7));
  }
}
