.clients {
  text-align: center;
  padding: 10rem 0;

  font-size: 2rem;

  .heading__primary {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: .8rem;
  }
  p {
    margin-bottom: 6rem;
  }
}
.clients-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 15rem);
  justify-content: space-evenly;

  @include respond(tab-port) {
    grid-template-columns: repeat(auto-fit, 8rem);
  }

}
.clients-grid-item {
  width: 15rem;
  height: 15rem;
  @include respond(tab-port) {
    width: 8rem;
    height: 8rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
