.clients {
  text-align: center;
  padding: 10rem 0;

  font-size: 2rem;

  .heading__primary {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: .8rem;
  }
  p {
    margin-bottom: 6rem;
  }
}
.clients-grid {
  display: grid;
  // grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 30rem);
  overflow: hidden;
  grid-gap: 2rem;
  // justify-content: space-evenly;

  @include respond(tab-port) {
    grid-template-columns: repeat(auto-fit, 8rem);
  }

}
.clients-grid-item {
  position: relative;
  padding: 2rem;

  width: 30rem;
  height: 30rem;
  border-radius: .3rem;

  @include respond(tab-port) {
    width: 8rem;
    height: 8rem;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: .3rem;


  }
  &__title {
    z-index: 2;
    font-weight: 500 !important;
    @include absCenter;
    font-size: 3rem;
    font-weight: bold;
    color: $color-white;

    // filter: blur(1px);
    letter-spacing: .2rem;
    text-shadow: 0 0 1rem $color-primary,
                0 0 2rem $color-primary,
                0 0 4rem $color-primary,
                0 0 8rem $color-primary,
                0 0 10rem $color-primary,
  }

  img {
    @include coverObject;
  }
  a {
    display: block;
    position: absolute;
    bottom: 0;
    right: 1rem;
    z-index: 2;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(transparent, .8), rgba(transparent, .8));
    z-index: 1;

  }
}
