.header {
  position: relative;
  height: 12vh;
  z-index: 2;
  background-image: linear-gradient(to right, rgba(transparent, .8), rgba(transparent, 0));


  &-container {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-content: center;

    .site-logo {
      img {
        height: 6rem;
      }
    }
  }

}
