.header {
  position: relative;
  height: 12vh;
  z-index: 2;

  .header-row {
    height: 100%;
    padding-top: 1rem;
  }

  &-container {
    position: relative;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 0 8rem;
    padding-top: 2rem;
    align-items: center;
    align-content: center;

    .site-logo {
      img {
        height: 6rem;
        @include respond(phone) {
          height: 4rem;
        }
      }

    }
  }
}

@include respond(phone) {
  .header {
    &-container {
      padding: 0 2rem;
    }
  }
}
