.video-container {
  position: relative;
  height: 100vh;
  margin-top: -10vh;
  z-index: 1;

  .video{
    height: 100%;
    width: 100%;

    video {
      @include coverObject;
    }

  }
  .scroll-btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 1.5s;
    cursor: pointer;

    svg {
      height: 8rem;
      width: 8rem;
      fill: $color-white;
    }

  }
}
