.single {
  font-size: 1.6rem;

  ul {
    margin-left: 4rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 2rem;
  }

  hr {
    margin: 2rem auto;
    width: 30%;
    text-align: center;
  }

  .footer {
    ul {
      margin-left: 0;
    }
  }


}
